
@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  background: linear-gradient(to right, #0A5A72, #000814);
  
}


/* Buttons */

  /* Swiper CSS Starts */
  /* .swiper {
    max-width: 1200px;
    width: 91.66%;
    height: 185px;
    margin: 50px 0px;
  } */
  
  .swiper-slide {
    width: 100%;
    height: 100%;
  }
  /* .swiper-slide {
    @apply bg-richblack-800 text-richblack-25 p-3 text-[14px];
  } */
  /* Swiper CSS Ends */
  
  
 